<h1>単語一覧</h1>

<%= link_to '新しい単語を追加', new_wordbook_word_path(@wordbook), class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>単語</th>
      <th>定義</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.term %></td>
        <td><%= word.definition %></td>
        <td>
          <%= link_to '編集', edit_wordbook_word_path(@wordbook, word), class: 'btn btn-warning btn-sm' %>
          <%= link_to '削除', wordbook_word_path(@wordbook, word), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '単語帳一覧に戻る', wordbooks_path, class: 'btn btn-secondary' %>
